<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lab10">
</head>
<body>
    <h1>Click on any book to see details</h1>
    <table>
        <% let i = 0 %>
        <% data.forEach(data => {%> 
        <% i++ %>
        <tr><td><p><a href="/books/<%= i %>"><%= data.name %></a></p></td></tr>
        <% }); %> 
    </table>
    <div class="links">
        <a href="/home">List of Books |</a>
        <a href="/addNewBook"> Add a book</a>
        <a href="/deleteABook">| Delete a book</a>
    </div>

</body>
</html>